
body{
  background-color: #bdeaffce;
}

.frame{
  margin: 30px 150px;
  display: flex;
  flex-direction: column;
}


/*navigator*/

.navigator{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height:60vh
  
  
}

li{
  display: inline;
  align-self: center;
  margin:0;
  margin-left: 0px;
  margin-right: 330px;
  font-size:80px;
  
  
}

ul{
  margin:0;
}

.site-name{
  margin:0;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  color: #5f97ffa9;
}



a{
  color: rgba(72, 111, 238, 0.616);
  text-decoration: none;
 
}

a:hover{
  color: white;
  transition: 0.3s;
}


/*dashboard*/


.dashboard{
  display: flex;
  flex-direction: column;
  margin-top: 100px;
  margin-bottom: 70px;
}

.korean-comment{
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-size: 50px;
  margin-left: 100px
}

.sample{
  background-color: rgba(80, 214, 255, 0.554);
  -webkit-text-stroke: 1px black;
}

.sample:hover{
  background-color: transparent;
  color: white;
  -webkit-text-stroke: 1px black;
  transition: none;
}

.highlight{
  color: white;
  -webkit-text-stroke: 1px black;
}

.highlight:hover{
  background-color: pink;
  color: black;
  transition: none;
}

.type1:hover{
  background-color: rgba(221, 248, 65, 0.746);
}

.type2:hover{
  background-color: skyblue;
}

.type3:hover{
  background-color: orange;
}




/*footer section*/

.footer-comment{
  text-align: center;
}


a[title="Freepik"]:hover{
  color: black;
  text-decoration: underline;
}

a[title="Flaticon"]:hover{
  color: black;
  text-decoration: underline;
}

  /*footer*/
  
  
  .footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 90px;
  }
  
  .contact{
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: rgba(63, 66, 247, 0.527);
   margin-top: 100px;
    margin-bottom: 5px;
    margin-left: 12px;
    border-bottom: 2px solid rgb(255, 255, 255);
    
  }
  
  .links>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: 300;
    margin-left: 13px;
  }
  
  .footer>p{
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 100;
    font-size: 15px;
    font-style: italic;
    margin: 0;
    margin-top: 5px;
  }
